body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h1 {
    position: relative;
    text-align: center;
    color: #333;
    margin-bottom: 100px;
}

h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #007BFF; /* Blue color */
    position: absolute;
    bottom: -10px;
    left: 0;
 }

.especialidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.especialidad {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;  /* Para asegurar que el contenido no se desborde */
    height: auto; /* Permite que la tarjeta se ajuste a su contenido */
    transition: height 0.3s ease; /* Animación de altura cuando se expanda */
}

.especialidad h2 {
    color: #0056b3;
}

.especialidad p {
    color: #555;
    margin: 5px 0;
}

.contenido {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    height: auto;
    visibility: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    margin-top: 10px;
}

.especialidad.expanded .contenido {
    opacity: 1;
    height: auto;
    max-height: 1000px; /* Ajusta el valor según el tamaño del contenido */
    visibility: visible;
}
