<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acciones Administracion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/centro.css') }}">
    <link rel="stylesheet" href="../static/css/centro.css">
    


</head>
<body>
    
    <h1>Acciones Administracion</h1>

    <div class="tarjetas">
        
        <a href="/consola_administrativos" class="tarjeta">Reservar Hora</a>
        <a href="/cancelar_reserva" class="tarjeta">Cancelar Hora</a>
    </div>


    
    
    <footer>
        Contáctanos: +56 9 75312580<br>
        Made by: TEAM10
    </footer>



        


</body>
</html>
