<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios de Atención</title>
    <link rel="stylesheet" href="../static/css/centro.css">
</head>
<body>
    <h1>Centro de Acciones</h1>

    <div class = "images">
        <img src="{{ url_for('static', filename='images/stockmedico.jpg') }}" alt="Imagen 1" width="200">
        <img src="{{ url_for('static', filename='images/stockmedico.jpg') }}" alt="Imagen 1" width="200">
        <img src="{{ url_for('static', filename='images/stockmedico.jpg') }}" alt="Imagen 1" width="200">
    </div>

    <div class="tarjetas">
        <a href="agendar.html" class="tarjeta">Agendar</a>
        <a href="/citas_actuales" class="tarjeta">Mis Citas</a>
        <a href="cancelar.html" class="tarjeta">Cancelar Cita</a>

        <a href="/horarios" class="tarjeta">Ver Horarios</a>
    </div>
    
    <div>
        <form action="/citas_actuales" method="get" class="input">
            <label for="rut">INGRESE SU RUT:</label>
            <input type="text" id="rut" name="rut" placeholder="Ej: 12345678-9" required>
            <button type="submit">Ver Citas Actuales</button>
        </form>
    </div>

    <footer>
        Contáctanos: +56 9 75312580<br>
        Made by: TEAM10
    </footer>
</body>
</html>

